services:
    db:
        image: postgres:17
        restart: always
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}",
                ]
            interval: 10s
            retries: 5
            start_period: 30s
            timeout: 10s
        volumes:
            - app-db-data:/var/lib/postgresql/data
        env_file:
            - .env
        environment:
            - PGDATA=/var/lib/postgresql/data/pgdata
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_DB=${POSTGRES_DB}

    backend:
        build:
            context: ./backend
        depends_on:
            db:
                condition: service_healthy
                restart: always
        ports:
            - "8000:8000"
        command:
            - fastapi
            - run
            - --reload
            - "app/main.py"
        develop:
            watch:
                - path: ./backend
                  action: sync
                  target: /app
                  ignore:
                      - ./backend/.venv
                      - .venv
                - path: ./backend/pyproject.toml
                  action: rebuild

volumes:
    app-db-data:
